@import url('https://fonts.googleapis.com/css?family=Concert+One');

/*...........................................heading*/
header {
    margin:0;
}
.logo {
    background: url("../band-assets/images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 262px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}
.border {
    border-width:5px;  
    border-style:ridge;
    border-color:  #990000;
}
.heading {
    margin: 50px;
}
.title {
    font-family: 'Concert One', cursive;
    font-weight: 100;
    font-size: 42px;
    margin-top: 50px;
    padding-bottom: 16px;
    color: #ffffff;
}
.bg-color {
    background-color: #990000;
}
/*...........................................navigation*/
#nav {
    margin:0;
}
#nav li {
    padding: 0;
}
.menuitem {
    height: 100px;
    text-align: center;
    padding:0;
}
.menuitem a {
    width:100%;
    text-decoration: none;
    color:#990000;
    height: 100px;
}
.menuitem a i {
    padding-top: 22px;
    display: block;
    font-size: 26px;
    color:#990000;
}
.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 2px;
}
/*...........................................hover.css*/
.hvr-rectangle-out:before {
    background: #538cc6;
    height: 100px;
}
/*..........................callout*/

.jumbotron {
  position: relative;
  overflow: hidden;
  background-color:black;
  text-align: center;
}
.jumbotron video {
  position: absolute;
  z-index: 1;
  top: 0;
  width:100%;
  height:100%;
  /*  object-fit is not supported on IE  */
  object-fit: cover;
  opacity:0.5;
}
.jumbotron .container-cta {
  z-index: 2;
  position: relative;
}
/*...........................................about*/

img {
    padding: 10px;
    -webkit-shape-outside: circle();
    shape-outside: circle();
}
p {
    margin-top: 10px;
    font-family: 'Concert One', cursive;
    font-weight: 100;
    font-size: 15px;
    text-align: justify;
    color: #990000;
}
.about .btn {
    background-color: #990000;
    border-color: #000;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
    color: #ffffff;
}
.about .btn:hover {
    background: #D8D8D8;
    color: #990000;
}
/*...........................................music*/
.bg-timeline {
    background:#336699;
}
/** timeline box structure **/
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eee;
  left: 50%;
  margin-left: -1.5px;
}

.tldate {
  display: block;
  width: 100px;
  background: #990000;
  border: 3px solid #336699;
  border-radius: 10%;
  color: #ffffff;
  margin: 0 auto;
  padding: 3px 0;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  -webkit-box-shadow: 0 0 11px rgba(0,0,0,0.35);
}

.timeline li {
  margin-bottom: 25px;
  position: relative;
}
.timeline li:after {
  clear: both;
}
.timeline li:before, .timeline li:after {
  content: " ";
  display: table;
}

/** timeline panels **/
.timeline li .timeline-panel {
  width: 46%;
  float: left;
  background: #fff;
  border: 1px solid #d4d4d4;
  padding: 15px;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}

/** panel arrows **/
.timeline li .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline li .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline li .timeline-panel.noarrow:before, .timeline li .timeline-panel.noarrow:after {
  top:0;
  right:0;
  display: none;
  border: 0;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}


/** timeline circle icons **/
.timeline li .tl-circ {
  position: absolute;
  top: 23px;
  left: 50%;
  text-align: center;
  background: #336699;
  color: #fff;
  width: 30px;
  height: 30px;
  margin-left: -16px;
  border: 8px solid #990000;
  border-radius: 50%;
  z-index: 99999;
}


/** timeline content **/

h1 {
  text-align: center;
}
.tl-heading h4 {
  margin: 0;
  color: #336699;
}

.tl-body p, .tl-body ul {
  margin-bottom: 0;
}

.tl-body > p {
  margin-top: 5px;
}
.tl-body-left img {
  float:left;
  margin-right: 30px;
}

.audio-container {
  height: 250px;
  text-align: center;
}
.audio-container img {
  float: inherit;
}
.audio-container audio {
  position: relative;
  width: 80%;
}

/** media queries **/
@media (max-width: 991px) {
  .timeline li .timeline-panel {
    width: 44%;
  }
}

@media (max-width: 700px) {
  ul.timeline:before {
    left: 40px;
  }
  
  .tldate { width: 140px; }

  ul.timeline li .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  ul.timeline li .tl-circ {
    top: 22px;
    left: 22px;
    margin-left: 0;

  }
  ul.timeline > li > .tldate {
    margin: 0;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}

/*...........................................contact*/

.bg-form {
    background-color: #336699;
}

.contact-heading{
    font-family: 'Concert One', cursive;
    text-transform: uppercase;
    color: #909090;
    margin-top: 25px;
    margin-bottom: 20px;
}
h3 {
    color: #990000;
}
.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}
button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    background-color: #990000;
    color: #fafafa;
}
button[type="submit"]:hover {
    background-color: #538cc6;
    color:#ffffff;
}
/*...........................................media queries*/
@media(min-width: 992px) {
    .center-form {
    padding-top: 30px;
    min-height: 240px;
    margin: 0 auto;
    max-width: 50%;
    }
}
/*...........................................footer*/

.banner {
    background: url("../band-assets/images/monkees.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 200px;
    padding: 0;
}
.sub-heading {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    color:#990000;
}
.newsletter {
    text-align: center;
    display:block;
}
.icon {
    font-size: 14px;
    color: #990000;
}
.btn-cta {
    background-color: #990000;
    color:#ffffff;
}
.btn-cta:hover {
    background-color: #538cc6;
    color:#ffffff;
}
.social-links {
    padding-top:5px;
    padding-bottom: 10px;
    text-align: center;
    word-spacing: 20px;
}
.social-links li a i {
    width:32px;
    height:32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height:7px;
    text-align: center;
    color: #fafafa;
    background:#990000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.social-links li a i:hover {
    background:#538cc6;
}
#footer-details {
    margin:0px;
    font-family: 'Concert One', cursive;
    background-color: #e6eaf2;
}
.footer-container{
    padding:0;
}
